/* ======= Search Input In Navbar ========= */
.search-input-navbar .ant-input-group > .ant-input:first-child {
  background: transparent;
  border-color: white;
  color: white;
  height: 32px;
  font-size: 0.875rem;
  border-color: white;
  transition: border-color 150ms;
}
.search-input-navbar .ant-input-group > .ant-input:first-child:focus {
  border-color: #3642c7;
  box-shadow: none;
}
/* .search-input-navbar
  .ant-input-group
  > .ant-input:first-child:focus
  + .ant-input-group-addon:last-child
  .ant-input-search-button {
  border-color: #3642c7;
  color: #3642c7;
  box-shadow: 0 0 0 2px rgba(0, 46, 210, 0.11);
} */
.search-input-navbar .ant-input-group > .ant-input::placeholder {
  color: whitesmoke;
}

.search-input-navbar.ant-input-group-wrapper
  .ant-input-group-addon
  .ant-input-search-button.ant-btn.ant-btn-primary {
  transition:
    border-color 150ms,
    color 150ms;
  background-color: transparent;
  height: 32px;
  border: 1px solid white;
}

/* ======= Select Input In Navbar ========= */
.header
  .ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  background-color: transparent;
  color: white;
}
.header
  .ant-select-single.ant-select-show-arrow
  .ant-select-selection-item {
  color: white;
}
.header
  .ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: white;
}
