.category-card:hover .heading-icon::before {
  color: white;
}

.category-card:hover h2,
.category-card:hover p,
.category-card:hover span {
  color: white;
}

.category-card:hover .btn i {
  border-color: white;
}

.category-card .btn:hover i {
  background-color: white;
  color: #d9363e;
}

/* Language Selector */
.header
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  transition: none;
}

.header
  .ant-select-single
  .ant-select-selector
  .ant-select-selection-item {
  transition: none;
}

.header .ant-select .ant-select-arrow {
  transition: none;
}

/* Navbar */
html:not([data-scroll='0']) .header {
  background-color: white;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  transition: 0.3s linear;
  color: black;
}

html[data-scroll='0'] .header .logo_img {
  width: 28px;
  height: 28px;
  background-image: url('/hamsa-logo-white.svg');
  background-size: cover;
  background-position: center;
}

html:not([data-scroll='0']) .header .logo_img {
  width: 28px;
  height: 28px;
  background-image: url('/hamsa-logo.svg');
  background-size: cover;
  background-position: center;
}

html:not([data-scroll='0']) .header .logo_hamsa {
  color: #17457c;
}

html:not([data-scroll='0']) .header .logo_tech {
  color: #d7150e;
}

html:not([data-scroll='0']) .header .nav_link {
  color: #333333;
}

html:not([data-scroll='0'])
  .header
  .search-input-navbar
  .ant-input-group
  > .ant-input:first-child {
  color: #333333;
  border-color: #333333;
}

html:not([data-scroll='0'])
  .header
  .search-input-navbar
  .ant-input-group
  > .ant-input:first-child:focus {
  border-color: blue;
}

html:not([data-scroll='0'])
  .header
  .search-input-navbar
  .ant-input-group
  > .ant-input:first-child::placeholder {
  color: #333333;
  transition: 0.3s linear;
}

html:not([data-scroll='0'])
  .header
  .search-input-navbar.ant-input-group-wrapper
  .ant-input-group-addon
  .ant-input-search-button.ant-btn.ant-btn-primary {
  background-color: #333333;
  border-color: #333333;
}

html:not([data-scroll='0'])
  .header
  .ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #333333;
}

html:not([data-scroll='0'])
  .header
  .ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
html:not([data-scroll='0'])
  .header
  .ant-select
  .ant-select-arrow
  svg {
  color: #333333;
  /* transition: 0.3s linear; */
}

/* Article Card */
.article-card:hover img {
  transform: scale(1.05);
}
.article-card:hover .footer {
  bottom: 0;
}
